@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ihoj0j');
  src:  url('fonts/icomoon.eot?ihoj0j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ihoj0j') format('truetype'),
    url('fonts/icomoon.woff?ihoj0j') format('woff'),
    url('fonts/icomoon.svg?ihoj0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
