*{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
section {
  width:100%;
  background-color: rgba(128, 128, 128, 0.115)
}
table {
  color: rgb(111, 111, 111);
  border-collapse: collapse;
}
thead{
  background-color: rgba(128, 128, 128, 0.115);
  text-align: left;
}
tbody > tr{
  border-bottom: solid rgba(128, 128, 128, 0.515) 1px;
  height: 3em;
}
th{
  width: 2%;
}
p {
  display: inline;
}
