main{
  width: 100%;
  margin: auto;
}

nav{
  display: inline-block;
  padding-left:1em;
  vertical-align: middle;
  font-size: 1em;
  color:  rgba(80, 78, 78, 0.522)
}
nav > button {
  border: none;
  background-color: rgba(255, 255, 255, 0)
}
nav > * {
  font-size: 1em;;
}


