tbody :last-child{
  border-bottom: none;
}

.error{
  display:none;
}

#no-match-err{
  color: red;

}

#api-err{
  width: 50%;
  border-radius: 10px;
  margin-left: 25%;
  margin-bottom: .5em;
  z-index: 9;
  background-color:  rgb(188, 180, 201);
  text-align: center;
  font-size:18px;
  color: rgb(0, 0, 0);
}

#search {
  margin-bottom: .25em;
  height: 2em;
  padding-top: 1em;
  vertical-align: middle;
  display: inline-block;
  }

#search > form {
  float:right;
  padding-right: 1em;
}

#search-box{
  height: 1.25em;
}

#info-bar {
  font-size:1.2em;
  margin-top: .2em;
  height: 2em;
  padding-top: .5%;
}


p[id='max-page']{
  float:right;
  padding: 0px;
  padding-right: 1em;
  margin: 0px;
}

/* font-awesome */
.fa-search{
  position: relative;
  font-size: .75em;
  left:-2em;
  color:  rgba(128, 128, 128, 0.522)
}
.icon-first, .icon-previous2, .icon-next2, .icon-last{
  font-size: 1em;
  color:  rgba(128, 128, 128, 0.522)

}
 